<h2>Polls Index</h2>

<!-- link to new poll -->
<%= link_to 'New Poll', new_poll_path %>

<% @polls.each do |poll| %>
	<p>
		<div><%= poll.title %></div>
		<!-- links to show, edit, public url -->
		<%= link_to 'Show', poll %>
		<%= link_to 'Edit', edit_poll_path(poll) %>
		<%= link_to 'Public URL', taker_path(poll) %>
	</p>
<% end %>
