<h3>Taker</h3>

<h4><%= @poll.title %></h4>

<div id="fade">
  <% @questions.each do |question| %>
    <p style="padding: 10px">
      <%= simple_format(question.question) %>

	    <%= form_for [@poll, question, question.responses.build], :remote => true, :html => {:class => 'taker_response'} do |f| %>
	
				<% if question.style == "multiple_choice" %>
					<div>
						<%#= render question.options %>
						<% options = question.options %>
						<table class="mc_question_table">
							<% options.each do |option| %>
								<tr>
									<td class="mc_question_button">
										<%= f.radio_button :response, option.value %>
									</td>
									<td class="mc_question_option">
										<%= f.label :response, option.value %>
									</td>
								</tr>
							<% end %>
						</table>
					</div>
				<% else %>
	        <div class="field">
	          <%= f.label :response %>
	          <%= f.text_area :response, rows: 3, class: 'span5' %>
	        </div>
				<% end %>
	      <div class="field">
	        <%= f.submit "Submit Answer", :class => 'btn' %>
	      </div>
	
	    <% end %>
    </p>
  <% end %>
</div>
